node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
.git
.gitignore
.env
.env.*
coverage
dist
build
.DS_Store
Thumbs.db
@eaDir
.AppleDouble
.TemporaryItems
.Trash-*
.qsync
data
config/config.json
reference/config.json
docker-compose.override.yml
docker-compose.local.yml
public/icons/custom
seekarr
private
