name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Create release with auto notes
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
